Mustafa Hoca Part2/WCF Ornek/WCFTest2/WCFTest2/Connected Services/ServiceReference1/WSKategori1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKategori">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Kategori" nillable="true" type="tns:Kategori" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKategori" nillable="true" type="tns:ArrayOfKategori" />
  <xs:complexType name="Kategori">
    <xs:sequence>
      <xs:element minOccurs="0" name="KATEGORI_ADI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KATEGORI_REFNO" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kategori" nillable="true" type="tns:Kategori" />
</xs:schema>