Mustafa Hoca Part2/WCF Ornek/WCFTest2/WCFTest2/Connected Services/ServiceReference1/WSKategori.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSKategori" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51699/WSKategori.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51699/WSKategori.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51699/WSKategori.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSKategori_GetAllKATEGORI_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllKATEGORI" />
  </wsdl:message>
  <wsdl:message name="IWSKategori_GetAllKATEGORI_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllKATEGORIResponse" />
  </wsdl:message>
  <wsdl:message name="IWSKategori_GetKATEGORI_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKATEGORI" />
  </wsdl:message>
  <wsdl:message name="IWSKategori_GetKATEGORI_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKATEGORIResponse" />
  </wsdl:message>
  <wsdl:message name="IWSKategori_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IWSKategori_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IWSKategori_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IWSKategori_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IWSKategori_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IWSKategori_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSKategori">
    <wsdl:operation name="GetAllKATEGORI">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSKategori/GetAllKATEGORI" message="tns:IWSKategori_GetAllKATEGORI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSKategori/GetAllKATEGORIResponse" message="tns:IWSKategori_GetAllKATEGORI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKATEGORI">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSKategori/GetKATEGORI" message="tns:IWSKategori_GetKATEGORI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSKategori/GetKATEGORIResponse" message="tns:IWSKategori_GetKATEGORI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSKategori/Save" message="tns:IWSKategori_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSKategori/SaveResponse" message="tns:IWSKategori_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSKategori/Update" message="tns:IWSKategori_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSKategori/UpdateResponse" message="tns:IWSKategori_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSKategori/Delete" message="tns:IWSKategori_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSKategori/DeleteResponse" message="tns:IWSKategori_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSKategori" type="tns:IWSKategori">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllKATEGORI">
      <soap:operation soapAction="http://tempuri.org/IWSKategori/GetAllKATEGORI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKATEGORI">
      <soap:operation soapAction="http://tempuri.org/IWSKategori/GetKATEGORI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IWSKategori/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IWSKategori/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IWSKategori/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSKategori">
    <wsdl:port name="BasicHttpBinding_IWSKategori" binding="tns:BasicHttpBinding_IWSKategori">
      <soap:address location="http://localhost:51699/WSKategori.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>